<h3><%= session[:remaining_guesses] %> guesses left</h3>
<h2>Make a guess:</h2>
<% unless session[:guessed_letters].empty? %>
  <p>
    Your guesses:
    <br> 
    <%= @try_string %>
  </p>
<% else %>
  <br/><br/>
<% end %>
<p>
  <form action='/' method='post'>
    <input type='text' name='guess' pattern='[A-Za-z]{1}' title='Enter a letter.' autofocus required />
    <input type='submit' value='Go' />
  </form>
</p>